<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pefi.Busse"
          android:versionCode="1"
          android:versionName="1.0"
        >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk android:minSdkVersion="19"/>
    <application
            android:label="@string/app_name"
            android:icon="@drawable/busse_logo"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar">

        <activity
                android:name="MainActivity"
                android:label="@string/app_name">
            <meta-data android:name="android.app.default_searchable"
                       android:value=".SearchResultActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".SearchResultActivity"
                android:icon="@android:color/transparent"
                android:label="@string/stops"
                android:parentActivityName=".MainActivity">
            <intent-filter><action android:name="android.intent.action.SEARCH" /></intent-filter>

            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>
        </activity>
        <activity android:name=".LinesActivity"
                  android:icon="@android:color/transparent"
                  android:parentActivityName=".SearchResultActivity"
                  android:label="@string/lines"/>
        <activity android:name=".StopsByLineActivity"
                  android:icon="@android:color/transparent"/>
    </application>
</manifest>
